
//Volcano / 火山醒目、澎湃
$volcano-map:(
	1:$volcano-1,
	2:$volcano-2,
	3:$volcano-3,
	4:$volcano-4,
	5:$volcano-5,
	6:$volcano-6,
	7:$volcano-7,
	8:$volcano-8,
	9:$volcano-9,
	10:$volcano-10
);
@each $parameter in 1,2,3,4,5,6,7,8,9,10 {
	.bg-volcano-#{$parameter} {background-color: map-get($map: $volcano-map, $key: $parameter) !important;}
	.color-volcano-#{$parameter} {color: map-get($map: $volcano-map, $key: $parameter) !important;}
	.border-volcano-#{$parameter} {border-color: map-get($map: $volcano-map, $key: $parameter) !important;}
}