
//Lime / 青柠自然、生机
$lime-map:(
	1:$lime-1,
	2:$lime-2,
	3:$lime-3,
	4:$lime-4,
	5:$lime-5,
	6:$lime-6,
	7:$lime-7,
	8:$lime-8,
	9:$lime-9,
	10:$lime-10
);
@each $parameter in 1,2,3,4,5,6,7,8,9,10 {
	.bg-lime-#{$parameter} {background-color: map-get($map: $lime-map, $key: $parameter) !important;}
	.color-lime-#{$parameter} {color: map-get($map: $lime-map, $key: $parameter) !important;}
	.border-lime-#{$parameter} {border-color: map-get($map: $lime-map, $key: $parameter) !important;}
}